<section class="section hero is-fullheight" itemscope itemtype="http://schema.org/HomePage">
	<div class="hero-head">
		{{ partial "nav.html" . }}
	</div>

	<div class="hero-body">
		<div class="container">

			<div class="columns is-mobile">
				<div class="column is-centered">
					<div class="content">
					{{ .Content }}
					<figure class="image is-514x85" >
  					<img src="img/title.png">
					</figure>
						<h2>Welcome!</h2>
							<p>Thank you for your interest in Cub Scouts. We have information here for current and future scouts and parents. </p>
							<p>Please join us at any upcoming event or call 253-CUBS for further information.</p>

						<div class="content front">
								<h3 class="subtitle has-text-primary is-marginless">Recent Posts:</h3>
								<ul>
								{{ range first 3 (where .Site.Pages "Params.series" "front") }}
								<li><a href="{{.Permalink}}"><span class="icon">✎</span>{{.Title }}</a></li>
								{{ end }}
								<!--<li><a href="{{ "posts/" | absURL}}">More posts<span class="icon">➤</span></a></li> -->
								</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="body">
		<div class="container">
					<div class="columns ">
						<div class="column is-half is-centered is-mobile">
							<h2>Upcoming Events Calendar</h2>
							<div class="calendar-container">
							<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=310&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=8erjh6chau1fm4rq5ndfhi1rpg%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="450" height="310" frameborder="0" scrolling="no"></iframe>
							</div>
						</div>

						<div class="column is-half is-centered is-mobile">
							<h2>Pack Photos</h2>
							<div class="calendar-container">
							<a data-flickr-embed="true"  href="https://www.flickr.com/photos/osospdb/albums/72157695681255915" title="Pack 91 Orcutt"><img src="https://farm1.staticflickr.com/883/27604563468_9b704a45e7.jpg" width="500" height="375" alt="Pack 91 Orcutt"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
							</div>
						</div>
					</div>
				</div>
			</div>




	<div class="hero-foot">
{{ partial "footer.html" . }}
	</div>
</section>
